Externals

example/ios/iOS UI Test/DerivedData
scripts/prebuilt.list
scripts/installed-deps-versions.plist

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xcuserstate
*.xccheckout
.swiftpm/
.build/

#CocoaPods
Pods
Podfile.lock

#Windows
*.sdf
*.opensdf
*.suo
Externals
build-mac/mailcore2.xcodeproj/project.xcworkspace/xcshareddata
build-windows/include
build-windows/_headers_depends
build-windows/mailcore2/Debug
build-windows/mailcore2/Release
build-windows/mailcore2/x64/Debug
build-windows/mailcore2/x64/Release
build-windows/mailcore2/mailcore2/Release
build-windows/mailcore2/mailcore2/x64/Release
build-windows/mailcore2/mailcore2/Debug
build-windows/mailcore2/mailcore2/x64/Debug
build-windows/mailcore2/test/Release
build-windows/mailcore2/test/x64/Release
build-windows/mailcore2/test/Debug
build-windows/mailcore2/test/x64/Debug
cocoapods-build
cmake-build-debug