<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ctemplate-ios</key>
	<string>4</string>
	<key>ctemplate-osx</key>
	<string>3</string>
	<key>libetpan-ios</key>
	<string>21</string>
	<key>libetpan-osx</key>
	<string>21</string>
	<key>mailcore2-framework-osx</key>
	<string>9</string>
	<key>mailcore2-ios</key>
	<string>12</string>
	<key>mailcore2-osx</key>
	<string>12</string>
	<key>tidy-html5-ios</key>
	<string>4</string>
	<key>uchardet-ios</key>
	<string>1</string>
	<key>uchardet-osx</key>
	<string>1</string>
</dict>
</plist>
